@using DataAccess.DataViewModel;
@{
    ViewData["Title"] = "Customer:" + Model;
}
@model CustomerGroupViewModel
@{
    Contact nullcontact = new Contact
            {
                Id = 0,
                Name = "",
                Username = "",
                Telephone = "",
                Email = "",
                MailingList = "",
                Isdelete = false,
            };
    Contact firstcontact = Model.Contacts.FirstOrDefault() ?? nullcontact;
}
<style>
    td:nth-child(2n) {
        font-weight: 800;
    }
</style>

@if (Model.CustomerId != 0)
{
    <div class="recorddiv d-flex gap-2">
        <div class="col-xl-6 border-1" style="border :0.5px solid #6A7179">
            <div class="w-100 p-1 fw-bold" style="background-color: #F7F9FA ; font-size: 1.25rem"><i class="bi bi-building ps-3"></i> Invoice Address <i class="bi bi-pen-fill editthis "></i></div>
            <div class="">
                <table class="table ps-3">
                    <form id="form">
                    <tr>
                        <td>Code</td>
                        <td>
                            <input type="hidden" name="Id" value="@Model.CustomerId" />
                            <input type="text" class="invoiceedit" name="Ac" value="@Model.Ac" readonly id="acdrop" />
                        </td>
                        <td><span name="Ac" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td><input type="text" class="invoiceedit" name="Name" id="company" readonly /></td>
                        <td><span name="Name" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Address1</td>
                        <td><input type="text" class="invoiceedit" name="Address1" id="address1" readonly /></td>
                        <td><span name="Address1" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Address2</td>
                        <td><input type="text" class="invoiceedit" name="Address2" id="address2" readonly /></td>
                        <td><span name="Address2" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Town</td>
                        <td><input type="text" class="invoiceedit" name="Town" id="town" readonly /></td>
                        <td><span name="Town" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>County</td>
                        <td><input type="text" class="invoiceedit" name="County" id="county" readonly /></td>
                        <td><span name="County" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td><input type="text" class="invoiceedit" name="Postcode" id="postcode" readonly /></td>
                        <td><span name="Postcode" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td><input type="text" class="invoiceedit" name="Country" id="country" readonly /></td>
                        <td><span name="Country" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td><input type="text" class="invoiceedit" name="Telephone" id="telephone" readonly /></td>
                        <td><span name="Telephone" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" class="invoiceedit" name="Email" id="email" readonly /></td>
                        <td><span name="Email" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr class="d-none addfield">
                        <td>Relation</td>
                        <td><input type="text" class="invoiceedit" name="Relation" id="relation" /></td>
                        <td><span name="Relation" class="text-danger h6 mb-0"></span></td>
                    </tr>
                    <tr class="d-none addfield">
                        <td>Currency</td>
                        <td><input type="text" class="invoiceedit" name="Currency" id="currency" /></td>
                        <td><span name="Currency" class="text-danger h6 mb-0"></span></td>
                    </tr>

                    <tr>
                        <td>Mailing List</td>
                        <td>
                            <div class="position-relative" style="z-index: 1;">
                                <span class=""><input id="mailinglist" class="border-bottom border-secondary  readonly" value="" readonly /></span>
                                <div class="position-absolute  w-50" id="maillistinvoicedrop">
                                    <div class="border border-2 rounded-2">
                                        <div class="w-100 d-flex justify-content-between p-2 rounded-2" style="background: linear-gradient(to bottom, #4777ae, #48607b);">
                                            <div class="text-white">
                                                Mailing List
                                            </div>
                                            <div>
                                                <div class="rounded border-0 p-1 bg-white" id="closemaillistinvoice" role="button"><i class="fa-solid fa-xmark"></i></div>
                                            </div>
                                        </div>
                                        <div class="p-2 bg-light">

                                            <div class="d-flex gap-3">
                                                <input type="checkbox" name="Issubscribe" id="sub" value="Subscribed" /> <label for="sub">Subscribe</label>
                                            </div>
                                            <div class="d-flex gap-3">
                                                <input type="checkbox" name="Issubscribe" id="unsub" value="Unsubscribed" /> <label for="unsub">Unsubscribe</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </form>

                    <tr>
                        <td>Group</td>
                        <td class="border-bottom w-50">
                            <button id="OpenGroupDialog" value="false" class="btn  border-0" style="background-color : #e2e3e3">
                                @if (Model.TotalSelectedGroup == 0)
                                {
                                    @: No Selected
                                }
                                else if (Model.TotalSelectedGroup == 1)
                                {
                                    <strong>@Model.GroupName</strong>
                                }
                                else
                                {
                                    var c = Model.TotalSelectedGroup - 1;
                                    <span><strong>@Model.GroupName</strong> + @c more......</span>
                                }
                            </button>
                            <div class="position-relative bg-white mt-1" id="editgroupmodel" style="z-index : 1"></div>
                            <div id="saveandcancelinvoice" class="d-none p-2">
                                <div class="d-flex justify-content-start gap-3">
                                    <button class="bg-success border-0 px-3 text-white rounded-pill addeditthiscustomer" role="button" id="addsubmit">Save</button>
                                    <button class="bg-light border-0 px-3 rounded-pill text-secondary" role="button" onclick="location.reload()">Cancel</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xl-6 border-1" style="border :0.5px solid #6A7179">
            <div class="w-100 p-1 fw-bold" style="background-color: #F7F9FA ; font-size: 1.25rem"><i class="fa-solid fa-address-book"></i> Contact Information <i class="fa-solid fa-pencil editcontact"></i></div>
            <div class="table-responsive" style="height:90%">
                <input type="hidden" id="firstcontactid" value="@firstcontact.Id" />
                <input type="hidden" id="contactid" value="@firstcontact.Id" />
                <table class="table ps-3">
                    <tr>
                        <td>Full Name</td>
                        <td>
                            <div class="position-relative">
                                <span class=""><input id="fullname" class="border-bottom border-secondary disable" value="@firstcontact.Name" readonly /></span>
                                <div class="position-absolute  w-50 bg-white" id="contactsdrop">
                                    <div class="border border-2 rounded-2">
                                        <div class="w-100 d-flex justify-content-between p-2 rounded-2" style="background: linear-gradient(to bottom, #4777ae, #48607b);">
                                            <div class="rounded">
                                                <button class="rounded border-0 bg-white addcontactbtn" style="color:#48607b" onclick="openedit(0)">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <button class="rounded border-0 bg-white" onclick="document.getElementById('contactsdrop').style.display = 'none';">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="p-3 ">
                                            <div class="form-group rounded">
                                                <input type="text" id="contactsearch" class="w-100 p-2 form-control" /><span>Search</span>
                                            </div>

                                            <div><span id="contactnumberinfo"></span></div>

                                            <div class="my-2 p-2 w-100  d-flex justify-content-between" style="background-color : #e2e3e3">
                                                <div class="">Name</div>
                                            </div>
                                            <div class="contactlist p-2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>"Dear" <span id="fullnamespan">@firstcontact.Name</span></td>
                        <td><span class=""><input id="username" class="border-bottom border-secondary disable" value="@firstcontact.Username" readonly /></span></td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td><span class=""><input id="contacttelephone" class="border-bottom border-secondary disable" value="@firstcontact.Telephone" readonly /></span></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><span class=""><input id="contactemail" class="border-bottom border-secondary disable" value="@firstcontact.Email" readonly /></span></td>
                    </tr>
                    <tr>
                        <td>Mailing List</td>
                        <td>
                            <div class="position-relative">
                                <span class=""><input id="issubscribeornot" class="border-bottom border-secondary disable readonly" value="@firstcontact.MailingList" readonly /></span>
                                <div class="position-absolute  w-50" id="maillistdrop">
                                    <div class="border border-2 rounded-2">
                                        <div class="w-100 d-flex justify-content-between p-2 rounded-2" style="background: linear-gradient(to bottom, #4777ae, #48607b);">
                                            <div class="text-white">
                                                Mailing List
                                            </div>
                                            <div>
                                                <button class="rounded border-0 bg-white" id="closemaillist" onclick="document.getElementById('maillistdrop').style.display = 'none';">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="p-2 bg-white">

                                            <div class="d-flex gap-3">
                                                <input type="checkbox" name="issubscribe" value="Subscribed" id="subcon"
                                                @if (firstcontact.MailingList == "Subscribed")
                                                {
                                                    @: checked
                                                } /> <label for="subcon">Subscribe</label>
                                            </div>
                                            <div class="d-flex gap-3">
                                                <input type="checkbox" name="issubscribe" value="Unsubscribed" id="unsubcon"
                                                @if (firstcontact.MailingList == "Unsubscribed")
                                                {
                                                    @: checked
                                                } /> <label for="unsubcon">Unsubscribe</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="savecancelcontact d-none">
                        <td></td>
                        <td>
                            <div>
                                <div class="d-flex justify-content-start gap-3">
                                    <button class="bg-success border-0 px-3 text-white rounded-pill addthiscontact">Save</button>
                                    <button class="bg-light border-0 px-3 rounded-pill text-secondary" onclick="closeedit()">Cancel</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
<input type="hidden" id="thisid" />
<div id="addgroupmodel"></div>

<style>
    tr, td {
        border: none;
    }

        td:first-child {
            width: 35%;
            padding: 0.5rem 0.5rem 0.5rem 3rem !important;
            font-weight: 600;
        }

        td:nth-child(2n) {
            width: fit-content !important;
            /*border-bottom : 1px solid grey;*/
        }

    dialog {
        border: 2px solid
    }

    .fa-solid {
        transition: 0.25s;
    }

        .rounded.border-0.bg-white:hover i,
        .fa-solid:hover, .bi:hover {
            transform: scale(1.3)
        }

    input {
        border: 1px solid grey;
        border-radius: 2%;
        padding: 0.125rem
    }

        input[readonly] {
            border: none;
            border-bottom: 1px solid grey !important;
        }

            input[readonly]:focus-visible {
                outline: none
            }

    .borderbottom {
        border-bottom: 5px solid !important;
    }

    .position-absolute {
        z-index: 1;
        transition: 1s ease-in;
    }

</style>




<script src="https://code.jquery.com/jquery-3.7.1.min.js" asp-append-version="true"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/js/form.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>