@using DataAccess.DataViewModel;
@model List<GroupViewModel>
@{
    bool isEdit;
    if (ViewBag.isEdit != null)
    {
        isEdit = ViewBag.isEdit;
    }
    else
    {
        isEdit = true;
    }
}
@foreach (var group in Model)
{
    <div class="d-flex justify-content-between">
        <div>
            <input type="checkbox" class="form-check-input" name="groupin" value="@group.Id" data-name="@group.Name"
            @if (group.Isselect)
            {
                @: checked
            }
            @if (!isEdit)
            {
                @: disabled
            } />
            @group.Name
        </div>
        @if (isEdit)
        {
            <div class="d-flex gap-2">
                <i class="fa-solid fa-pen editthisgroup" data-id="@group.Id" style="color : #920472!important"></i>
                <i class="fa-solid fa-trash deletethisgroup text-danger" data-id="@group.Id"></i>
            </div>
        }
    </div>
}
@{
    var text = "";
    if (Model.Where(x => x.Isselect).Count() == 0)
    {
        text = "No Selected";
    }
    else if (Model.Where(x => x.Isselect).Count() == 1)
    {
        text = Model.FirstOrDefault(x => x.Isselect).Name;
    }
    else
    {
        var c = Model.Where(x => x.Isselect).Count() - 1;
        text = Model.FirstOrDefault(x => x.Isselect).Name + " and " + c + " more....";
    }
}

<script>
    $('#OpengroupDialog').text("@text");
</script>


