@{
    ViewData["Title"] = "Home Page";
}


<style>
    .table thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa; /* Set your desired background color */
    }

    ::-webkit-scrollbar {
        width: 8px; /* Set the width of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #303A45; /* Set the color of the scrollbar thumb */
    }

    .datadiv {
        transition: 2s;
    }

    .notselect {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    .fa-sort {
        opacity: 50%;
    }

    .gotoinput:focus-visible{
        outline : none;
    }
</style>


<div class="my-3">
    <form id="searchform"> 
        <div class="p-3 d-flex row">
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="AC" placeholder=""><span>Ac</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="Name" placeholder=""><span>Name</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="PostCode" placeholder=""><span>Postcode</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="Country" placeholder=""><span>Country</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="Telephone" placeholder=""><span>Telephone</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="Relationship" placeholder=""><span>Relation</span>
                </div>
            </div>
            <div class="col-3 py-2">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" name="currency" placeholder=""><span>Currency</span>
                </div>
            </div>
            <div class="col-3 d-flex gap-3 justify-content-center align-content-center py-2">
                <div class="bg-white px-4 p-2 rounded shadow clearfilter" role="button" style="color: #303A45"><i class="fa-solid fa-broom fa-lg"></i></div>
                <div class="bg-white px-4 p-2 rounded shadow searchfilter" role="button" style="color: #303A45"><i class="fa-solid fa-magnifying-glass falkland"></i> Search</div>
            </div>
        </div>
    </form>
</div>


<div class="table-responsive" style="height: 50vh;">
    <table class="table table-hover" style="overflow-y: scroll;">
        <thead>
            <tr>
                <th class="notselect order asc" style="width : 14.28%" data-url="false" data-name="AC" id="acsortth" role="button">A/C Code     <i class="fa-solid fa-sort-up"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="Name" id="namesortth" role="button">Customer          <i class="fa-solid fa-sort"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="PostCode" id="pcsortth" role="button">Postcode        <i class="fa-solid fa-sort"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="Country" id="cntrysortth" role="button">Country       <i class="fa-solid fa-sort"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="Telephone" id="tpsortth" role="button">Telephone      <i class="fa-solid fa-sort"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="Relationship" id="rlsnsortth" role="button">ReplationShip <i class="fa-solid fa-sort"></i> </th>
                <th class="notselect" style="width : 14.28%" data-url="false" data-name="currency" id="currsortth" role="button">Currency      <i class="fa-solid fa-sort"></i> </th>
            </tr>
        </thead>
        <tbody class="datadiv">
        </tbody>
    </table>
</div>
<hr style="height : 3px" class="text-muted" />
<div class="d-flex justify-content-around">
    <div>
        No. Of Records : <select id="pagesize" value="@ViewBag.PageSize">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div>
        Go To Page: <input type="number" min="1" id="gotodrop" class="border-0 border-bottom gotoinput" /> out of <label class="fw-bold" id="totalpages"></label>
    </div>
    <div class="d-flex align-items-center rounded-1">
        <div class="paginate_first "><i class="fa-solid fa-forward-fast fa-flip-horizontal"></i></div>
        <div class="paginate_Previousbutton "><i class="fa-solid fa-caret-left"></i></i></div>
        <div class="dataTables_paginate d-flex">
            <div class="paginate_button pagebtn_1" data-id="@ViewBag.Currentpage">@ViewBag.Currentpage</div>
        </div>
        <div class="paginate_Nextbutton "><i class="fa-solid fa-caret-right"></i></div>
        <div class="paginate_last "><i class="fa-solid fa-forward-fast"></i></div>
    </div>
</div>


<script>
    var pagesize = "@ViewBag.PageSize";
    var currentpage = "@ViewBag.CurrentPage";
    var search = "@ViewBag.Search";
    var acsort = 0;
    var namesort = 0;
    var pcsort = 0;
    var cntrysort = 0;
    var tpsort = 0;
    var rlsnsort = 0;
    var currsort = 0;
    $('#pagesize').val(pagesize)
    $('.nav-link').removeClass('active')
    $('#listtab').addClass('active')
</script>

<script src="~/js/list.js" asp-append-version="true"></script>











<script src="https://code.jquery.com/jquery-3.7.1.min.js" asp-append-version="true"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

