@using DataAccess.DTOs
@using DataAccess.DataViewModel
@model PageFilterResponseDTO<CustomerListViewModel>



@foreach (var c in Model.Data)
{
    <tr data-id="@c.Ac" data-name="@c.Id" class="customerrow">
        <td>@c.Ac</td>
        <td>@c.Name</td>
        <td>@c.Postcode</td>
        <td>@c.Country</td>
        <td>@c.Telephone</td>
        <td>@c.Relation</td>
        <td>@c.Currency</td>
    </tr>
}

<input type="hidden" id="totalrecords" value="@Model.TotalRecords"/>
