@using DataAccess.DataViewModel
@model List<CustomerListViewModel>



        @foreach (var c in Model)
        {
            <tr data-id="@c.AC" data-name="@c.Id" class="customerrow">
                <td>@c.AC</td>
                <td>@c.Name</td>
                <td>@c.PostCode</td>
                <td>@c.Country</td>
                <td>@c.Telephone</td>
                <td>@c.Relationship</td>
                <td>@c.currency</td>
            </tr>
        }
